# Styles for the i3 windows

font pango:SauceCodePro Nerd Font 8

# -------------------------------------------------
# SOLARIZED COLORS (ethanschooonover.com/solarized)
# -------------------------------------------------

set $base03  #002b36
set $base02  #073642
set $base01  #586e75
set $base00  #057b83
set $base0   #839496
set $base1   #93a1a1
set $base2   #eee8d5
set $base3   #fdf6e3
set $yellow  #b58900
set $orange  #cb4b16
set $red     #dc322f
set $magenta #d33682
set $violet  #6c71c4
set $blue    #268bd2
set $cyan    #2aa198
set $green   #859900


# -------------------------------------------------
# WINDOW DECORATION
# -------------------------------------------------

# class                      border     backgr.    text      indicator    child_border
client.focused               $base2     $base3     $base00   $base1       $base2
client.focused_inactive      $base2     $base3     $base00   $base1       $base2
client.unfocused             $base2     $base3     $base1    $base1       $base2


# -------------------------------------------------
# STATUS BAR
# -------------------------------------------------

bar {
    status_command i3status
    position top
    font pango:SauceCodePro Nerd Font 8
    strip_workspace_numbers yes

    colors {
        background $base2
        statusline $base0
        separator  $base1

        focused_workspace  $yellow $yellow $base1
        active_workspace   $orange $orange $base1 
        inactive_workspace $green  $green  $base0
        urgent_workspace   $red    $red    $base0
    }
}

# remove all titel bars of windows
for_window [class="^.*"] border none

gaps outer 0
gaps inner 24

smart_gaps on
smart_borders no_gaps

