# include ~/.config/i3/solarized-dark.config
include ~/.config/i3/solarized-light.config

font pango:SauceCodePro Nerd Font 8

bar {
    status_command i3status
    position top
    font pango:SauceCodePro Nerd Font 8
    strip_workspace_numbers yes
    workspace_buttons yes
    tray_padding 0
}

exec_always --no-startup-id nitrogen --restore
exec --no-startup-id set-wallpaper.sh
